/*
para ativar o sass. 
sass --watch sass/style.sass:css/style.css
------------------------------------------------
*/

/*Import variables*/
@import"./variables.scss";
@import"home.scss";
@import"pages.scss";
/*---------------------------------------------*/

/*

  body {
    background: url(/img/002.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
    height: 100vh;
  }
  .section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 20px;
    background-color: rgba(0, 255, 255, 0.307);
    width: 400px;
    height: 400px;
    font-weight: 700;
    font-size: 2em;
    color: blue;
  }
  .formulario{
      display: flex;
      flex-direction: column;
  }
  .input{
      height: 40px;
      width: 180px;
      font-size: 1em;
  }
  */
