@charset "UTF-8";
*{
    margin: .1px;
    padding: .1px
}

/*
POso usar para declara usando varealveis mais alguns hospedagen nao aceita muito bem(testei)
:root{
    --cor01:#3d1902;
    --cor02:#40240C;
    --cor03:#bfb3a5;
    --cor04:#D9AD77;
    --cor05:#8C5F27;

}
*/
body {
    background-color:#bfb3a5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-image: linear-gradient(to bottom, #3d1902,#8C5F27);
    background-attachment: fixed;
    min-width: 370px;
    height:300px;
    
}
header h1 {
    width: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #bfb3a5;
    font-size: 40px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px 10px 20px 10px;
    text-shadow: 2px 2px 0px black;
}
header p {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #bfb3a5;
    text-shadow: 2px 2px 0px black;
}
nav  {

    background-image: linear-gradient(to bottom, #3d1902,#8C5F27);
    background-attachment: fixed;
    min-width: 370px;
    font-size: 22px;
    margin: auto;
}

nav a {
    color: white;
    padding-left: 5px;
    padding-right: 10px;
    text-decoration: none;
    
    
}
:hover.menu {
    color: #D9AD77;
    font-size: large;
    
}
main{
    background-color: rgb(227, 212, 212);
    height: auto;
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-indent: 20px;
    line-height: 2em;
}
main h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding: 5px;
    color: #3d1902;
}
.subtitulo{
    padding-top: 10px;
    color:#40240C;
    font-family:Georgia, 'Times New Roman', Times, serif;;
    font-size: 20px;
}
main p{
    text-align: left;
    color:#3d1902;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.foto {
   
    display: block;
    margin: auto;
    width: 100%;
}

aside img{
    width: 100%;
}
footer{
    color: #40240C;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
footer a{
    color: #40240C;
}
footer img{

    padding-top: 2px 2px 0px 2px;
    height: 20px;
    width: 20px;
} #tel{
    padding: 5px;
    margin-top: 10px;
    height: 35px;
    width: 35px;
}
aside p{
    padding-top: 10px;
}
.redes{ 
    width: 35px;
    height: 35px;
}
aside picture{
   display: block;
   text-align: left;
}
#imgins{
    padding-left: 10px;
}