*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
  
}
.container{
    /* Tamanho da folha A4 em pixels */
max-width: 794px; /* A largura é de aproximadamente 210 mm */
max-height: 1123px; /* A altura é de aproximadamente 297 mm */

}
.header{
    
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__img{
        width: 300px;
    }
    &__h1{
        font-size: 1.5em;
        text-decoration: underline;
    }

    @media(max-width: 768px){
    
    .header{
        &__img{
            width: 200px;
        }
        &__h1{
            font-size: 1.2em;
        }
    }
}


  
}

.details{

    p{
        margin: 0px;
    }

    input{
        border: none;
        margin: 0 5px;
        
        &:hover{
            background-color:#ccc;
        }
    }

}

#vio50{
    
    width: 150px;
    margin-left: -50px;
    

        @media(max-width: 768px){

            width: 150px;
            margin-left: -100px;
        }
    }


    video {
        border: 3px solid #ccc;
        background: green;
        width: 400px;
        height: 400px
       }