*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.header{
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__img{
        width: 500px;
    }
    &__h1{
        font-size: 2.5em;
        text-decoration: underline;
    }

  
}
  #vio50{
    
        width: 150px;

    
    }


@media(max-width: 768px){
    
    .header{
        &__img{
            width: 300px;
        }
        &__h1{
            font-size: 1.5em;
        }
    }
}