.flexColum{
    display: flex;
    margin-top: 20px;
}
.flexColun-1{
    flex: 4;

    
}

.flexColum1-row{
    display: flex;
    margin-bottom: 5px;
}

.flexColun-2{
    flex: 5;
}



.inicioInput{
    padding-left: 5px;
    width: 80px;
    text-align: center;
    
}

.inicioInputspace{
    margin-left: 44px;
}

.section2--label{
    font-weight: bold;
}
