/*PALETAS DE CORES*/
$primeira-color:rgba(227, 219, 228, 0.609);
$segunda-color:rgb(67, 65, 108);
$terceira:rgb(217,220,200);
$quarta-color:rgb(217,211,99);
$quita-color:rgb(252,172,117);
/*--------------------------------------*/