$fontPrincipal: sans-serif;
$corVerde:rgb(2, 94, 2);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontPrincipal;

}

::placeholder {
    color: red;
}

p{
    font-size: 12px;
}

.container{
    max-width: 1440px;
    width: 100%;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

.cabecario{
    padding-top: 50px;
    font-weight: bold;

    &_img{
        height: 75px;
    }

 &_texto{
       display: flex;
       flex-direction: row;
       font-size: 10px;
       padding-left: 75px;
    }
}

.dados{

    .input input{
       border: none;
        width: 70px;
    }

   #client{
    width: 500px;
    margin: 5px 0px 5px 20px;
   }


padding-top: 20px;
    &_clientes{
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }



}

.detalhes{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

  
}

.dados_maquinas{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    font-size: 12px;

    &__p1{
        display: flex;
        flex-direction: column;

        #material{
            margin-left: 31px;
        }
        #modelo{
            margin-left: 58px;
        }
        #equip{
            margin-left: 14px;
        }
    }

    &__p2{
        display: flex;
        flex-direction: column;
        padding-left: 100px;

        #marque{
            margin-left: 42px;
        }
        #serie{
            margin-left: 14px;
        }
        #option{
            padding-left: 40px;
            margin-left: 45px;
        }
    }

}

.input input,select{
    border: none;
    width: 90px;
    &:hover{
        background-color: #ccc;
    }
}

select {
    -webkit-appearance: none; /* Para navegadores baseados em WebKit, como o Chrome e o Safari */
    -moz-appearance: none; /* Para navegadores baseados em Gecko, como o Firefox */
    appearance: none; /* Para navegadores modernos */
    background-color: transparent;
    &:hover {
    cursor: pointer; /* Altere o cursor quando passar o mouse sobre o select */
    }
}

.datas{
    font-size: 12px;
    font-weight: bold;

    &_inicio, &_fim{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: 4px;
    input{
        width: 70px;
        text-align: center;
        font-weight: bold;
    }

}

}

.contatos{
    display: flex;
    flex-direction: column;
font-weight: bold;
color:$corVerde;
    #periodo{
        width: 45px;
    }
    #dias{
        color:$corVerde;
        font-weight: bold;
    }
    input{
        padding-left: 15px;
        width: 300px;
        font-weight: bold;
        color:$corVerde;
    }
    
}

.element-com-seta::after {
    content: "→"; /* Define o conteúdo da pseudo-classe como uma seta */
    color:$corVerde; /* Define a cor da seta */
    font-size: 18px; /* Define o tamanho da fonte da seta */
    margin-left: 5px; /* Define a margem à esquerda para separar a seta do texto */
}

.interacao{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: 5px 0;
    

    input{
        font-size: 12px;
        width: 66px;
    }

    &_dias__alugado{
        display: flex;
    flex-direction: row;
    justify-content: space-between;


    &___div{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60%;
        .elementoP{
            padding-right: 55px;
        }
        .elementoPM012{
            padding-right: 42px;
        }
        .elementoACCLOC{
            padding-right: 30px;
        }
        .elementoLOCZ{
            padding-right: 40px;
        }
        .elementoPM014{
            padding-right: 42PX;
        }
        .elementoPM0133{
            padding-right: 36PX;
        }
        
       
        
    }
    

    &___div2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        

        .elementoSpan1{
            margin-right: 22px;
        }
    }
    
    
    }
    
}

#dados-06 {
    font-size: 10px; /* Tamanho de fonte desejado, por exemplo, 16 pixels */
}
#dados-06 * {
    font-size: inherit;
}

#dados-07{
    .container{
        padding-bottom: 4px;
        
    }
    .precoTVA_dados{
        display: flex;
    flex-direction: row;
    width: 100%;
    
}

.precoTVA_dados__tva{
        display: flex;
        flex-direction: row;
        padding-right: 150px;
        width: 68%;
        
}

    .precoTVA_dados__tva2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
        padding-right: 50px;
        
}

.precoTVA_dados_baixo{
    display: flex;
    flex-direction: row;
    width: 100%;

    .precoTVA_dados__tvaValor{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 68%;
        #paragrafo-1{
          margin-left: 146px;
        }
        #paragrafo-2{
            margin-right: 2px;
        }
        #paragrafo-3{
            margin-right: 110px;
          }
    }

    .precoTVA_dados__tvaValor2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
        #paragrafo-4{
            margin-left: 0px;
          }
          #paragrafo-5{
              margin-left: 143px;
          }
          #paragrafo-6{
              margin-right: 0px;
        }
    }
}

#borda{
    display: flex;
    flex-direction: row;
    width: 100%;
    #bordaDireta{
        border-top: 1px solid #c0bcbc;
        width: 32%;
      
    }

    #bordaEsquerda{
        width: 68%;
        
        
    }

   
}


}


