.logo--img{
    margin-top: 40px;
    width: 286px;
    height: auto;
}

.logo-paragrapho{
    font-weight: bold;
    line-height: 1;
    font-size: 11px;
    margin-top: -20px;
    margin-left: 70px;
    padding-bottom: 50px;
}
