/*
para ativar o sass. 
sass --watch sass/style.sass:css/style.css
------------------------------------------------
*/
/*Import variables*/
/*PALETAS DE CORES*/
/*--------------------------------------*/
body {
  margin: 0px;
}

.pmat {
  display: flex;
  flex-direction: column;
  font-size: 5.5em;
  color: rgb(67, 65, 108);
}

.conteiner-00 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/002.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner-01 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.col-01 {
  height: 180px;
  width: 320px;
  background-color: rgba(227, 219, 228, 0.609);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  font-weight: bolder;
  box-shadow: 2px 2px rgb(5, 5, 5);
  padding-left: 10px;
}

.col-01:hover {
  height: 200px;
  width: 350px;
  color: rgb(248, 244, 242);
  background-color: rgb(67, 65, 108);
  font-size: 1.6em;
}

.link-a {
  text-decoration: none;
  font-size: 1.4em;
}

.link-a:hover {
  text-decoration: none;
  font-size: 1.5em;
}

body {
  margin: 0px;
  background-color: rgb(217, 211, 99);
}

.container {
  margin: 10px;
}

#section-0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 2.5em;
  color: rgb(67, 65, 108);
}

.menu {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bolder;
  color: rgb(252, 172, 117);
}

a:hover {
  font-size: 1.6em;
}

.section1 {
  display: flex;
  flex-direction: row;
  background-color: rgb(252, 172, 117);
  align-items: last baseline;
  justify-content: space-around;
  border-style: solid;
  border-width: 3px;
  margin-top: 20px;
  font-size: 1.6em;
}

.section2 {
  display: flex;
  flex-direction: row;
  background-color: rgb(229, 225, 203);
  align-items: last baseline;
  justify-content: space-around;
  border-style: solid;
  border-width: 3px;
  margin-top: 20px;
  font-size: 1.6em;
}

.text {
  font-weight: 900;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

.tailForm {
  height: 35px;
  width: 250px;
  font-size: 1em;
  font-weight: bolder;
  color: blue;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(142, 7, 7);
}

#fhrs, #fhrs2, #fhrs3, #fhrs4, #fhrs5, #fhrs6 {
  width: 100px;
}

#fdisp, #fdisp2, #fdisp3, #fdisp4, #fdisp5, #fdisp6 {
  width: 60px;
}

#ftel, #ftel2, #ftel3, #ftel4, #ftel5, #ftel6 {
  width: 220px;
}

.btn {
  height: 35px;
  width: 80px;
  font-size: 20px;
  font-weight: bolder;
  color: blue;
  border-radius: 10px;
  background-color: aquamarine;
}

.teste {
  height: 98vh;
  width: 100vw;
  background-image: url(/img/construcao-1000x750.png);
  background-repeat: repeat;
  background-size: contain;
}

/*---------------------------------------------*/

/*# sourceMappingURL=style.css.map */
