@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: .0px;
    padding: .0px
}

:root {


    --cor1: #bd13ec;
    --cor2: #dd63ff;
    --cor3: #ff69b4;
    --cor4: #e44f9c;
    --cor5: #ff97d9;



}

body {
    background-image: linear-gradient(to bottom, #fed6d6, #fae2e9);
    background-attachment: fixed;
}

.cabecario {
    background-image: url(imagens/002.jpg);
    background-position: y;
    height: 255px;
    width: 100%;
}

nav {

    display: flex, inline;
    align-items: center;
}

nav>a {
    color: #200580;
    font-family: 'Oleo Script', cursive;
    gap: 40px;
    text-decoration: none;
    font-size: 20px;
    padding-left: 18px;
}

nav>a:hover {
    color: rgb(222, 22, 15);
}

.titulo {
    font-family: 'Lavishly Yours', cursive;
    font-size: 85px;
    text-align: center;
    color: #56005b;
}

.h2 {
    text-align: center;
    color: #56005b;
    font-family: 'Oleo Script', cursive;
    font-size: 26px;
}

.b-pai {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;



}

.b-filho {
    margin: 30px;
    width: 416px;
    height: 333px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #0006;
}

.b2-pai {
    padding-top: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.b2-filho {
    margin: 30px;
    width: 416px;
    height: 333px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #0006;
}

.b3 {
    display: flex;
    justify-content: center;
    width: 98vh;
    padding-top: 200px;
    height: auto;
    width: 100%;

}

.texto {
    margin: auto;
    color: #1f0120;
    font-family: 'Oleo Script', cursive;
    font-size: 22px;
    padding-top: 10px;

}
.b3>p{
   
    border:2px solid black;
    width: 1000px;
    color: #1f0120;
    font-family: 'Oleo Script', cursive;
    font-size: 22px;
    padding: 5px;
    
}

.b3>p>strong{
    display: flex;
    justify-content: center;
    color: #1f0120;
    font-size: 28px;
   
}

.map {

    display: flex;
    justify-content: center;
    color: #1f0120;
    font-family: 'Oleo Script', cursive;
    font-size: 22px;
    padding-top: 80px;
  

}

.map>article>h1 {
    display: flex;
    justify-content: center;
}

/*Pagina Galeria abaixo*/

.gallery-titulo{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.gallery-container{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}
.gallery-items{
    width: 340px;
    height: 340px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .03s linear;
}
.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}
.gallery-items:hover{
    transform: scale(1.2);
    filter: none;

}
footer {
    height: 100px;
    display: flex;
    justify-content: center;
    color: #000;
    font-style: italic;
    padding-top: 20px;
}
