.dados{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.dadosFlex-4{
    flex:3;
}

.dadosFlex-8{
    flex:  3;
}

.dadosFlexSpace{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.dadosFlexSpace2{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
/*Somente pra preencher a div*/
.dadosFles-0{
    flex: 3;
}


.section1--input {
    width: 150px;
}

