.dados--row {
    display: flex;
     margin-top: 30px;
  }
  
  
  .dados--div-8 {
    flex: 8;
    
  }
  .dados--coluna {
    display: flex;
    flex-direction: column;
  }
  
  
  .dados--div-4 {
    flex: 4;
  }

  .dados--div{
    margin-top: 8px;
  }
  
  .dados--labelB{
    font-weight: bold;
    font-size: 18px;
  }

  .dados--label{
    font-size: 18px;
  }


  .dados--input{
    
    margin-left: 10px;
    font-size: 16px;
    padding-left: 5px;
    background-color: #cccccc83;
  }