@import 'variables';

.about{
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    background-image: url('/dist/images/bgHome.png');
    background-repeat: no-repeat;
    background-position: cover;
    width: 100vw;
    height: 100vh;
    color: $colorSilver;
    width: 100vw;
    

    &__title{
        font-size: 18px;
        padding-left: 50px;
        max-width: 1100px;
        text-align: justify;


        &--hidden{
            display: none;
        }
        
        &--name1{
            font-size: 3em;
            color: $titlecolors;
            margin-top: 20px;

        }
        &--name{
            font-size: 3em;
            color: $titlecolors;
            padding-bottom: 10px;
            -webkit-text-stroke: 1px rgb(248, 78, 78);
            text-decoration: underline;

        }

        h3{
            color: $titlecolors;
            margin-top: 20px;
        }
        p{
            margin: 10px 0;
        }


        
    }


    &__img{

   


        margin: 30px 50px 20px 20px;
        img{
            border-radius: 50%;
            border: 3px solid $titlecolors;
            width: 600px;
            height: auto;
            padding-right: 50px;
            background-color:$titlecolors ;

        }
        
    }
}

@media (max-width:767px) {
  
    .about{
        display: flex;
        flex-direction: column;
        height: auto;
        background-image: url('/dist/images/bgHomeMobile.png');
        background-repeat:repeat;

        &__title{
        text-align: center;
        padding-left: 0px;
        width: 100%;

         &--name{
            padding-top: 5%;
            }

            &--info{
                @include flex-col();
                justify-content: center;
                align-items: center;
            }


            h3{
                width: 80%;
            }
        
            p{
            width: 80%;
            padding: 0 5px;
            font-size: 1.2em;
            text-align: justify;
            }
            
            &--hidden{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img{
                display: flex;
                width: 80%;
                border-radius: 50%;
                padding-right: 30px;
                background-color: $titlecolors;
        }

            }

        }
    
        &__img{
            display: none;
        }
    }
    
}

@media (min-width:768px) and (max-width:1024px){
    .about{
        display: flex;
        flex-direction: row;
        height: auto;
        background-image: url('/dist/images/bgHomeMobile.png');
        background-repeat:repeat;

        &__title{
        text-align: center;
        padding-left: 0px;
        width: 100%;

            &--name{
            padding-top: 5%;
                }

            &--name1{
                width: 100vw;
                }

            &--info{
                @include flex-col();
                justify-content: center;
                align-items: center;
            }


            h3{
                width: 80%;
            }
        
            p{
            width: 80%;
            padding: 0 5px;
            font-size: 1.2em;
            text-align: justify;
            }
            
            &--hidden{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                img{
                    display: flex;
                    width: 80%;
                    border-radius: 50%;
                    padding-right: 30px;
                    background-color: $titlecolors;
            }

        }
    
        &__img{
            display: none;
            width: 200px;
        }
    }
    
}
}