@import 'variables';


.home{
    &__header{
    

    &__nav{
        background-color:$titlecolors;
        &__ul{
            @include flex-row();
            margin-top: 50px;
            list-style: none;
            justify-content: flex-end;
            
            &--li{
                padding-right: 50px;
            }
        }
    }
}
}

