@import 'variables';


.home{
    background-image: url('/dist/images/bgHome.png');
    background-repeat: no-repeat;
    background-position: cover;
    width: 100vw;
    height: 100vh;
    @include flex-col();
    justify-content: center;
    align-items: center;

    
&__header{
    position: fixed;
    top: 0;
        &__nav{
        @include flex-row();
        align-items: center;
        justify-content: space-around;
        color: $navtext;
        width: 90vw;
        background-color:$titlecolors;
        height: 60px;
        margin-top: 30px;
        border-radius: 20px;
    
    &__ul{
            width: 500px;
            @include flex-row();
            justify-content: space-between;
            list-style: none;
            font-weight: bold;
            font-size: 1.5em;
            margin-left: 300px;
        }
    }
}

&__content{
    @include flex-row();
    justify-content: center;
    align-items: center;

    &--img{
        width: 700px;
        margin: 200px 100px 50px 100px;
        border: 1px solid $titlecolors;
        border-radius: 20px;

    }

    &--text{
        @include flex-col();
        justify-content: center;
        text-align: center;
        width: 100%;

        &--h1{
        color: $titlecolors;
        font-size: 60px;
        }

        p{
        margin-top: 50px;
        color: $colorSilver;
        font-size: 30px;

    }
    }
   
}

&__contentfooter{

    width: 1000px;
    color: $colorSilver;
    font-size: 2em;
    font-weight: bold;
    text-align: center;

}
}

a{
        text-decoration: none;
}


@media (min-width:768px) and (max-width:1024px){
    .home{
        p{
            font-size: 1.1em;
            margin-top: 20px;
        }

        &__header{

            &__nav{
                @include flex-row(); 
                width: 90vw;

                &__ul{
                    font-size: 1em;
                    justify-content: space-between;
                    margin: 0px;
                }
            }
        }

        &__content{
            justify-content: space-around;
            width: 90%;


            &--img{
                width: 400px;
                margin: 10px;
            }

            &--text{
                font-size: 1.2em;
                margin: 10px;

                &--h1{
                    font-size: 1.5em;
                }

                
            }
        }

        &__contentfooter{
            width: 700px;
            color: $colorSilver;
            font-size: 1.2em;
        }

    }

}


@media (max-width:767px) {
 .home{

    p{
        font-size: 1.2em;
        text-align: center;
        width: 100%;
        padding: 10px;
    }
     
     &__header{
        margin-top: 5px;

        &__nav{
            margin-top: 0;

            &__ul{
                display: none;
            }
        }

    }
    
    &__content{
        @include flex-col();
        
        &--img{
            margin-top: 100px;
            width: 300px;
            margin: 20px;
            
        }

        &--text{
            align-items: center;

            &--h1{
                font-size: 2em;
            }

        }
        
    }
    
    &__contentfooter{
        font-size: 1.1em;
        font-weight: normal;
        text-align: center;
        width: 100%;
        padding: 0px;
    }

 }
}