@import 'variables';

.plans{
    @include bg();
    @include flex-col();

    h2{
        color: white;
        font-size: 2em;
        padding: 50px
    }

    &__title{
        @include flex-row();
        color: $titlecolors;
        padding-top: 100PX;
        width: 100%;
        margin-left: 50px;

        &--underline{
        border-bottom: 10px solid  $titlecolors;
        width: 800px;
        margin: 0 1px 10px;
    }
}
    }

    