@import 'variables';

.plans{
    @include bg();
    @include flex-col();

    h2{
        margin-top: 100px;
        margin-left: 100px;
        color: white;
<<<<<<< HEAD
        font-size: 2em;
        padding: 50px
=======
        font-size: 1.5em
>>>>>>> b358dd51f0009f223bbee7b62dd23dd802368477
    }

    &__title{
        @include flex-row();
        justify-content: center;
        color: $titlecolors;
<<<<<<< HEAD
        padding-top: 100PX;
        width: 100%;
        margin-left: 50px;

        &--underline{
        border-bottom: 10px solid  $titlecolors;
        width: 800px;
        margin: 0 1px 10px;
=======
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;


        h1{
            
            font-size: 5em;
            margin-right: 30px;
        }

        &--underline{
        border-bottom: 3px solid  $titlecolors;
        height: 35px;
        width: 70vw;
        
>>>>>>> b358dd51f0009f223bbee7b62dd23dd802368477
    }
}

    &__DivPlans{
        @include flex-row();
        justify-content: space-around;
        

        &--item{
        @include flex-col();
        justify-content: space-between;
        height:500px;
        width: 400px;
        
        margin: 0px;
        

        &--img{
            overflow: hidden;
                border-radius: 10px 10px 0 0;
            img{
            transition: transform 0.8s ease; 
            margin-left: -80px;
            width: 500px;
            height:auto;

            &:hover{
                transform: scale(1.1);
            }
            
            }
        }

        &--footer{
            @include flex-col();
            justify-content:space-between;
            align-items: center;
            height: 200px;
            width: 400px;
            background-color: white;
            color: #000;
            border-radius: 0 0 10px 10px;

            h2{
                margin: 0;
                margin-top: 50px;
                padding: 0;
                color: #000;
            }

            button{
                width: 200px;
                height: 50px;
                margin-top: 30px;
                margin: 20px;
                font-size: 1em;
                font-family: Minion;
                border-radius: 15px;
                border: 3px solid rgba(10, 10, 10, 0.192);
                background-color: $titlecolors;
                color: $navtext;

                &:hover{
                background-color: yellow;
                border-radius: 15px;
                border: 3px solid rgba(80, 80, 80, 0.253);
                }
            }
        }
    }

    }

    //div de imagem2
    .imagem2{
        margin-left: 0px;
    }
    
}
    
@media (min-width:768px) and (max-width:1250px){

    .plans{
        @include bg();
        @include flex-col();
        height: 100%;
        h2{
            margin-top: 100px;
            margin-left: 100px;
            color: white;
            font-size: 1.5em
        }
    
        &__title{
            @include flex-row();
            justify-content: center;
            color: $titlecolors;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
    
    
            h1{
                
                font-size: 5em;
                margin-right: 30px;
            }
    
            &--underline{
            border-bottom: 3px solid  $titlecolors;
            height: 35px;
            width: 70vw;
            
        }
    }
    
        &__DivPlans{
            @include flex-row();
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
            flex: 0 0 calc(33.33% - 10px);
            
    
            &--item{
            @include flex-col();
            justify-content: space-between;
            height:500px;
            width: 300px;
            margin: 0px;
            
    
            &--img{
                overflow: hidden;
                border-radius: 10px 10px 0 0;
                margin-top: 30px;
                img{
                transition: transform 0.8s ease; 
                margin-left: -80px;
                width: 500px;
                height:auto;
    
                &:hover{
                    transform: scale(1.1);
                }
                
                }
            }
    
            &--footer{
                @include flex-col();
                justify-content:space-between;
                align-items: center;
                height: 200px;
                width: 300px;
                background-color: white;
                color: #000;
                border-radius: 0 0 10px 10px;
    
                h2{
                    margin: 0;
                    margin-top: 50px;
                    padding: 0;
                    color: #000;
                }
    
                button{
                    width: 200px;
                    height: 50px;
                    margin-top: 30px;
                    margin: 20px;
                    font-size: 1em;
                    font-family: Minion;
                    border-radius: 15px;
                    border: 3px solid rgba(10, 10, 10, 0.192);
                    background-color: $titlecolors;
                    color: $navtext;
    
                    &:hover{
                    background-color: yellow;
                    border-radius: 15px;
                    border: 3px solid rgba(80, 80, 80, 0.253);
                    }
                }
            }
        }
    
        }
    
        //div de imagem2
        .imagem2{
            margin-left: 0px;
        }
        
    }
}

@media (min-width:424px) and (max-width:767px){
    .plans{
        @include bg();
        height: 100%;
        align-items: center;

    
        h2{
            text-align: center;
            margin-top: 10px;
            margin-left: 10px;
            color: white;
            font-size: 1.5em
        }
    
        &__title{
            @include flex-row();
            justify-content: center;
            color: $titlecolors;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 50px;
    
    
            &--underline{
            display: none
            
        }
    }
    
        &__DivPlans{
            @include flex-col();
            justify-content: space-around;
            
    
            &--item{
            @include flex-col();
            justify-content: space-between;
            height:500px;
            width: 300px;
            
            margin: 10px;
            
    
            &--img{
                overflow: hidden;
                    border-radius: 10px 10px 0 0;
                img{
                transition: transform 0.8s ease; 
                margin-left: -80px;
                width: 450px;
                height:auto;
    
                &:hover{
                    transform: scale(1.1);
                }
                
                }
            }
    
            &--footer{

                height: 200px;
                width: 300px;
             
              
    
                h2{
                    margin: 0;
                    margin-top: 50px;
                    padding: 0;
                    color: #000;
                }
    
                button{
                    width: 200px;
                    height: 50px;
                    margin-top: 30px;
                    margin: 20px;
                    font-size: 1em;
                    font-family: Minion;
                    border-radius: 15px;
                    border: 3px solid rgba(10, 10, 10, 0.192);
                    background-color: $titlecolors;
                    color: $navtext;
    
                    &:hover{
                    background-color: yellow;
                    border-radius: 15px;
                    border: 3px solid rgba(80, 80, 80, 0.253);
                    }
                }
            }
        }
    
        }
    
        //div de imagem2
        .imagem2{
            margin-left: 0px;
        }
        
    }
}

@media (max-width:423px){
        .plans{
            @include bg();
            height: 100%;
            align-items: center;

        
            h2{
                text-align: center;
                margin-top: 10px;
                margin-left: 10px;
                color: white;
                font-size: 1.5em
            }
        
            &__title{
                @include flex-row();
                justify-content: center;
                color: $titlecolors;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 50px;
        
        
                &--underline{
                display: none
                
            }
        }
        
            &__DivPlans{
                @include flex-col();
                justify-content: space-around;
                
        
                &--item{
                @include flex-col();
                justify-content: space-between;
                height:500px;
                width: 300px;
                
                margin: 10px;
                
        
                &--img{
                    overflow: hidden;
                        border-radius: 10px 10px 0 0;
                    img{
                    transition: transform 0.8s ease; 
                    margin-left: -80px;
                    width: 450px;
                    height:auto;
        
                    &:hover{
                        transform: scale(1.1);
                    }
                    
                    }
                }
        
                &--footer{
    
                    height: 200px;
                    width: 300px;
                 
                  
        
                    h2{
                        margin: 0;
                        margin-top: 50px;
                        padding: 0;
                        color: #000;
                    }
        
                    button{
                        width: 200px;
                        height: 50px;
                        margin-top: 30px;
                        margin: 20px;
                        font-size: 1em;
                        font-family: Minion;
                        border-radius: 15px;
                        border: 3px solid rgba(10, 10, 10, 0.192);
                        background-color: $titlecolors;
                        color: $navtext;
        
                        &:hover{
                        background-color: yellow;
                        border-radius: 15px;
                        border: 3px solid rgba(80, 80, 80, 0.253);
                        }
                    }
                }
            }
        
            }
        
            //div de imagem2
            .imagem2{
                margin-left: 0px;
            }
            
        }
    }
    