//Fonts
@font-face {
    font-family: 'Minion';
    src: url('../font/Minion/Regular.ttf') format('ttf'), 
}

@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf') format('ttf'), 
}


@mixin flex-col{
    display: flex;
    flex-direction: column;
   
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
    
}

@mixin bg{
background-image: url('/dist/images/bgHomeMobile.png');
background-repeat:repeat;
background-position: cover;
width: 100vw;
height: 100vh;
}



$titlecolors:#ffbf00;
$navtext:#30078a;
$colorSilver:#dddada;