@import 'variables';

.welcome{
    background-image: url('/dist/images/bgHome.png');
    background-repeat: no-repeat;
    background-position: cover;
    @include flex-col();
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 1.4em;
    color: white;

    &__presentation{
        width: 80%;
        h2{
            margin: 50px 0;
            font-size: 5vw;
            color: $titlecolors;
        }

        p{
            margin-top: 20px;
        }
    }

    &__row{
        width: 80%;
        
        @include flex-row();

        &--text{
            width: 70%;
            color: #000;

            &--paragr{
                @include flex-row();
                align-items: center;
                justify-content: center;
                height: 200px;
                background-color:$titlecolors;

                p{
                    text-align: center;
                    width: 75%;
                }
            }
            
        }
        &--img{
            width: 30%;
            overflow: hidden; 
            
            img{
                width: 30vw;
               
            }
        }

    }
}